.contact1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../imgs/font1.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 660px;
  overflow: hidden;
  padding: 25px 0px;
  margin-top: 80px;
}

.contact1 .h1 {
  color: rgb(218, 200, 39);
  align-content: center;
  text-align: center;
  padding-top: 170px;
  font-size: 60px;
  margin-top: 50px;
  font-style: italic;
}

.contact1 h3 {
  color: #e1e1e1;
  align-content: center;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  margin-top: -90px;
  font-style: italic;
}

/* ********** */

.contact4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../imgs/aaa.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 660px;
  overflow: hidden;
  padding: 25px 0px;
  margin-top: 80px;
}

.contact4 .h1 {
  color: rgb(218, 200, 39);
  align-content: center;
  text-align: center;
  padding-top: 170px;
  font-size: 60px;
  margin-top: 50px;
  font-style: italic;
}

.contact4 h3 {
  color: #e1e1e1;
  align-content: center;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  margin-top: -90px;
  font-style: italic;
}
/* *************** */
.contact5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../imgs/plp2.jpg);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 660px;
  overflow: hidden;
  padding: 25px 0px;
  margin-top: 80px;
}

.contact5 .h1 {
  color: rgb(218, 200, 39);
  align-content: center;
  text-align: center;
  padding-top: 170px;
  font-size: 60px;
  margin-top: 50px;
  font-style: italic;
}

.contact5 h3 {
  color: #e1e1e1;
  align-content: center;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  margin-top: -90px;
  font-style: italic;
}

/* **************** */
.chauffage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./../imgs/san1.png);
  background-size: cover;
  max-width: 100%;
  text-align: center;
  height: 650px;
  position: relative;
  overflow: hidden;
  padding: 25px 0px;
  margin-top: 100px;
}

.chauffage h1 {
  color: rgb(218, 200, 39);
  align-content: center;
  text-align: center;
  padding-top: 170px;
  font-size: 60px;
  margin-top: 50px;
  font-style: italic;
}

.chauffage h3 {
  color: #e1e1e1;
  align-content: center;
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  margin-top: -90px;
  font-style: italic;
}

.cont p {
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;

  line-height: 1.7em;
  margin-top: 50px;
  font-size: 22px;
  padding: 40px;
}

.about-us7 .row {
  height: 400px;

  padding-left: 5%;
}

.container-about-us7 h1 {
  font-family: "Cairo", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  margin-top: 5.5rem;
  margin-bottom: 7rem;
}

.container-about-us7 p {
  font-size: 25px;
  padding-left: 20px;
  font: weight 300px;
  color: black;
  padding-top: 8px;
  text-align: justify;
}

.container-about-us7 p span {
  color: rgb(246, 227, 57);
  font-size: 33px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.about-us5 .row {
  height: 400px;

  padding-left: 5%;
}

.container-about-us5 p {
  font-size: 25px;
  padding-left: 20px;
  font: weight 300px;
  color: black;
  padding-top: 8px;
  text-align: justify;
}

.container-about-us5 p span {
  color: rgb(246, 227, 57);
  font-size: 33px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .contact1 {
    margin: 0%;
  }

  .contact1 .h1 {
    color: rgb(218, 200, 39);
    align-content: center;
    text-align: center;
    padding-top: 170px;
    font-size: 43px;
    margin-top: 50px;
    font-style: italic;
  }

  .contact1 h3 {
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
  }

  /* ******* */
  .contact4 {
    margin: 0%;
  }

  .contact4 .h1 {
    color: rgb(218, 200, 39);
    align-content: center;
    text-align: center;
    padding-top: 170px;
    font-size: 43px;
    margin-top: 50px;
    font-style: italic;
  }

  .contact4 h3 {
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
  }
  /* ************ */
  .contact5 {
    margin: 0%;
  }

  .contact5 .h1 {
    color: rgb(218, 200, 39);
    align-content: center;
    text-align: center;
    padding-top: 170px;
    font-size: 43px;
    margin-top: 50px;
    font-style: italic;
  }

  .contact5 h3 {
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
  }
  /* *********** */
  .chauffage {
    margin: 0%;
  }

  .chauffage h1 {
    font-size: 43px;
  }

  .chauffage h3 {
    font-size: 25px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .br {
    display: none;
  }

  .about-us7 .container-about-us7 .row {
    padding: 0%;
  }

  .container-about-us7 h1 {
    font-size: 25px;
  }

  .about-us7 p {
    font-size: 17px;
    padding: 6%;

    margin: 0%;
  }

  .about-us7 .container-about-us7 p span {
    font-size: 23px;
  }
  .about-us7 .container-about-us7 #carouselExampleControls7 img {
    height: 30%;
  }
  .about-us7 .container-about-us7 #carouselExampleControls7 {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 15%;
  }
  .about-us5 .container-about-us5 .row {
    margin: 0%;
    padding: 0%;

    margin-top: 20%;
  }
  .about-us5 .container-about-us5 .row p {
    display: none;
  }
  .about-us5 .container-about-us5 #carouselExampleControls8 img {
    height: 30%;
  }
  .about-us5 .container-about-us5 #carouselExampleControls8 {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 30%;
  }
  .about-us7 .container-about-us7 #carouselExampleControls img {
    height: 30%;
  }
  .about-us7 .container-about-us7 #carouselExampleControls {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
  }
  .divv {
    display: none;
  }
}
